<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.qiuchenly.macos.god</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/macOSGod</string>
      <string>/usr/local/lib/CoreInject.dylib</string>
      <string>Surge</string>
      <string>com.nssurge.surge-mac.ne</string>
    </array>
    <key>UnSupported</key>
    <array>
      <string>Navicat Premium</string>
      <string>Proxyman</string>
      <string>Infuse</string>
      <string>App Cleaner 8</string>
      <string>prl_client_app</string>
      <string>prl_vm_app</string>
      <string>prl_disp_service</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/macos_god.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/macos_god_error.log</string>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/bin</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>1</integer>
  </dict>
</plist>